
__pycache__/
*.pyc
.venv/
*.egg-info/


node_modules/
frontend/build/


.env
*.env.local


datasets/*
!datasets/.gitkeep
models/*.pkl
models/*.joblib
models/*.h5


reports/*.pdf
reports/*.xlsx


.ipynb_checkpoints/


.DS_Store